body{
  position: absolute;
  width: 1281px;
  height: 5993px;
  left: -7px;
  top: 0px;
  background: #070707;
}

h1 {
	color: #FFF598;
	margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  
  position: absolute;
  width: 234px;
  height: 76px;
  left: 294px;
  top: 3649px;
  background: #070707;

}

header {
  position: absolute;
  width: 1281px;
  height: 5993px;
  left: -7px;
  top: 0px;
  background: #070707;
}

h2 {
	position: absolute;
  width: 704px;
  height: 314px;
  left: 278px;
  top: 3751px;

  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #FFFFFF;
}

.dickey {
  position: absolute;
  width: 252px;
  height: 173px;
  left: 292px;
  top: 3851px;
}

.chickpeas{
  position: absolute;
  width: 187px;
  height: 128px;
  left: 595px;
  top: 3873px;
}

.davisCoop {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 828px;
  top: 3862px;
}

.crustBaking {
  position: absolute;
  width: 233px;
  height: 116px;
  left: 278px;
  top: 4114px;
}

.brewCafe {
  position: absolute;
  width: 190px;
  height: 143px;
  left: 587px;
  top: 4090px;
}

.villageBakery {
  position: absolute;
  width: 249px;
  height: 53px;
  left: 845px;
  top: 4135px;
}

.line {
  position: absolute;
  width: 4561px;
  height: 0px;
  left: 153px;
  top: 749px;
  border: 3px solid #FFFFFF;
  transform: rotate(90.01deg);
}

.circleBackground {
  position: absolute;
  width: 24px;
  height: 25px;
  left: 142px;
  top: 3672px;
  background: #070707;
}

.circle {
  position: absolute;
  width: 13.2px;
  height: 13.75px;
  left: 147px;
  top: 3716px;
  border-radius: 50%;
  background: #FFFFFF;
}